.container {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50rem;
}

.blurb {
    text-align: left;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: lighter;
    margin-bottom: 1rem;
}

.blurb a {
    color: #0070f3;
}

.main a {
    text-decoration: none;
  }
  
  .main a:hover,
  .main a:focus,
  .main a:active {
    text-decoration: underline;
  }

.header {
    display: flex;
    margin: 1rem 0 1rem 0;
}

.header p {
    float: left;
    position: relative;
    margin-top: 8rem;
    margin-right: 2rem;
}

.header img {
    float: right;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 3rem;
}
  
.title,
.description {
    text-align: left;
}
  
.description {
    line-height: 1.5;
    font-size: 1rem;
    color: #252525;
}

@media (max-width: 600px) {
    .blurb {
        text-align: left;
        width: 75%
    }
}

@media (max-width: 900px) {
    .main {
        width: 95%;
        padding: 5rem 0;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header p {
        float: none;
        position: static;
        margin: 0;
    }

    .header img {
        float: none;
    }
}