.container {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50rem;
}

.postData small {
    margin: 0.5rem 1rem 0.5rem 0;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 2rem;
}
  
.title,
.description {
    text-align: left;
}
  
.description {
    line-height: 1.5;
    font-size: 1rem;
    color: #252525;
}

.postTitle {
    color: #0070f3;
}

.portrait {
    border-radius: 50%;
}

.authorInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
}

.authorImage {
    margin: 0 1rem 0 0;
}

.authorDetails {
    margin: 0 0 0 1rem;
}

.card {
    margin: 1rem 0 1rem 0;
}

@media (max-width: 900px) {
    .main {
        width: 95%;
        flex-direction: column;
    }
}