.container {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50rem;
}

.content a {
    color: #0070f3;
    text-decoration: none;
}

.content a:hover,
.content a:focus,
.content a:active {
    text-decoration: underline;
}

.postInfo {
    width: 100%
}

.authorInfo {
    display: flex;
    position: relative;
    align-items: center;
}

.authorInfo h3 {
    margin: 0;
}
.authorInfo p {
    margin: 0.25rem 0 0 0;
    font-size: 0.75rem;
}

.authorImage {
    border-radius: 50%;
    margin-right: 1rem;
}

.postContent {
    line-height: 1.5;
    font-size: 1rem;
}

.postContent p {
    color: #252525;
}

.postContent img {
    width: 100%;
}

.postContent pre {
    color: #fff;
    background-color: black;
    border-radius: 3px;
    padding: .7rem .7rem;
    overflow-x: scroll; 
}

.postContent code {
    line-height: 2;
    font-family: courier, monospace;
    color: #fff;
    background-color: black;
    border-radius: 3px;
    padding: .2rem .2rem;
}

@media (max-width: 900px) {
    .main {
        width: 95%;
        flex-direction: column;
    }
}